header {
    background-color: #1f5957;
    color: aliceblue;
}

/* Для больших экранов, например, колонок, задайте отступ между элементами */
@media (min-width: 768px) {
    .custom-margin {
        margin-left: 20px; /* Подставьте нужное вам значение отступа */
    }
}

/* Для маленьких экранов, например, когда элементы идут в столбик, снимите отступ */
@media (max-width: 767px) {
    .custom-margin {
        margin-top: 20px;
    }
}
.top {
    top: 25%;
}
/* Общие стили */
.btn {
    white-space: nowrap; /* Предотвращает перенос текста на новую строку */
  }
  
  /* Медиа-запрос для уменьшения шрифта на узких экранах */
  @media (max-width: 768px) {
    .btn {
      font-size: 14px; /* Уменьшенный размер шрифта для маленьких экранов */
    }
  }
  .title {
    text-align: center;
    font-size: xxx-large;
    padding: 2%;
    font-family: sans-serif;
  }